.header-container,.footer-container{
  background-color: #33aeb8;
  border: none;
  right: 0;
  left: 0;
}
.navbar-bottom{
  padding-top: 62px;
}
.footer-container{
  bottom: 0;
  left:0;
  position:fixed;
}
.footer{
  font-size: 10px;
  padding: 20px;
  color: #ffffff;
  bottom:0;
}
.content{
  margin-top: 120px;
}
.left{
  float: left;
}
.motto{
  font-family: HelveticaNeueLTStdLtCn;
  font-size: 24px;
}
.homepage-heading{
  font-family: HelveticaNeueLTStdLtCn;
  font-weight: bold;
  font-size: 24px; 
}
ul.homepage-content li,
ol.homepage-content li,
.homepage-content{
  font-family: HelveticaNeueLTStdLtCn;
  font-size: 18px; 
}
ul.error-explanation{
  margin:0;
  padding:0
}
ul.error-explanation li{
  color: red;
  list-style-type: none;;
}
.field_with_errors input{
  border-color: #F778A1;
}
.notice{
  color: green;
}

.left {
  float: left;
}

.hide{
  display: none;
}

.audit-row{
  width: 60%;
  border-radius: 15px;
}

.clear{
  clear: both;
}

.page-views{
  width: 245px;
}

.left-navigation{
 min-height: 650px; 
}

a.active-item, a.active-item:hover{
  background-color: skyblue;
  color: white;
}

a.active-item span.badge{
  background-color: white;
  color: #428bca;
}

#userNameToShow{
  padding-top: 10px;
  width: 680px;
  text-align: center;
  font-weight: bold;
  font-style: italic;
}

#pageViewsByUser{
  padding-left: 45px;
  padding-top: 10px;
  width: 680px;
}

.slice{
    font-size: 10px;
}

input.filter{
  background-color: #006978;
  border-radius: 0;
}

input.filter:hover{
  background-color: #2C8D94;
  border-radius: 0;
}

input.download-report{
  background-color: #e98e4e;
  border-color: #e98e4e;
  border-radius: 0;
}

input.download-report:hover{
  background-color: #EB9A61;
  border-color: #e98e4e;
  border-radius: 0;
}
