.left {
  float: left;
}

.hide{
  display: none;
}

.audit-row{
  width: 60%;
  border-radius: 15px;
}

.clear{
  clear: both;
}

.page-views{
  width: 245px;
}

.left-navigation{
 min-height: 650px; 
}

a.active-item, a.active-item:hover{
  background-color: skyblue;
  color: white;
}

a.active-item span.badge{
  background-color: white;
  color: #428bca;
}

#userNameToShow{
  padding-top: 10px;
  width: 680px;
  text-align: center;
  font-weight: bold;
  font-style: italic;
}

#pageViewsByUser{
  padding-left: 45px;
  padding-top: 10px;
  width: 680px;
}

.slice{
    font-size: 10px;
}
