<div class='clear'></div>
<div class='left'>
  <ul class="nav nav-pills">
    <li class="active">
      <a href="#">Total page views <span class="badge"><%= @total %></span></a>
    </li>
  </ul>
  <br/>
  <div id='pageViewsCount' data-visit-count='<%= @analysis_by_page_views %>'></div>

</div>