<ul class="nav nav-tabs">
  <li class='active'><a href="#" data-attr-id='user-clicks'>All views by users <span class="badge"><%= @total %></span></a></li>
  <li><a href="#" data-attr-id='page-views'>All views by pages <span class="badge hide"><%= @total %></span></a></li>
  <li><a href="#" data-attr-id='per-user-by-pages-bar'>Views per user by pages (bar) <span class="badge hide"><%= @total %></span></a></li>
  <li><a href="#" data-attr-id='per-user-by-pages-pie'>Views per user by pages (pie) <span class="badge hide"><%= @total %></span></a></li>
</ul>
