<div id='user-clicks' class='overlay col-sm-12'>
  <div data-attr-id="user-clicks" class="overlay-section">
    <div class="section-header">
      <div class="section-text">
        View by Users
      </div>
      <button id="user-clicks-zoomout" type="button" class="btn btn-default btn-lg section-zoom">
        <span class='glyphicon glyphicon-remove large'></span>
      </button>
      <div class="section-count">
        <%= @analysis[:total] %>
      </div>
    </div>
  </div>
  <div id='userViewsCount' data-visit-count='<%= @analysis[:by_user_name] %>' class='chart-modal'></div>
</div>
