<div class='left'>
  <ul class="nav nav-pills">
    <li class="active">
      <a href="#">Total user clicks <span class="badge"><%= @total %></span></a>
    </li>
  </ul>
  <br/>
  <div id='userViewsCount' data-visit-count='<%= @analysis_by_user_name %>'></div>
</div>
