<div class="page-header">
  <h1>Analytics</h1>
</div>

<%= render partial: 'form' %>
<br/>
<br/>
<% if @analysis_by_user_name == {} %>
  <%= render partial: 'no_audits_available', locals: {no_audits: @no_audits} %>
<% else %>
  <%= render partial: 'user_clicks' %>
  <%= render partial: 'page_views' %>
<% end %>